.project-meta {
    margin-bottom: 0;
    padding: 10px;
    display: flex;
    gap: 10px;
    border-radius: 8px;
    border: 1px solid #ededed;
}
.project-meta span {
    display: inline-block;
    padding: 5px 10px;
    background-color: #f0f0f0;
    border-radius: 4px;
    font-size: 14px;
}